{%extends resModule + ":baseChartOptionsDialogBody.html"%}
{%block staticFigure%}
{%endblock%}
{%block customFormFields%}
<div class="form-group col-sm-8" style="padding: 0px 0px 0px 5px;">
	
	<label for="title{{prefix}}">
		<a href="#" target="_blank">bCharts API Key</a> 
		<i class="fa fa-question-circle" title="Get a bCharts API key by accessing..."></i>
	</label>
	
	<input type="text" class="form-control" id="bchartsapikey{{prefix}}" name="bchartsapikey" value="{{this.options.get("bchartsapikey") or ""}}">

</div>
{%endblock%}