{%extends "basedialog.html"%}
{%import "commonExecuteCallback.js" as commons%}
{%block title %}Twitter Sentiment Analysis{%endblock%}

{%block body%}
  <style>
    #demo > .row:first-child {
      height: 10vh;
      max-height: 10vh;
      min-height: 10vh;
    }
    #demo > .row:nth-child(2) {
      height: 60vh;
      max-height: 60vh;
      min-height: 60vh;
    }
    .chart-wrapper {
      background: #fff;
      border: 1px solid #e2e2e2;
      border-radius: 3px;
      margin: 5px;
    }
    .chart-wrapper .chart-title {
      border-bottom: 1px solid #d7d7d7;
      color: #666;
      font-size: 14px;
      font-weight: 200;
      padding: 7px 10px 4px;
    }
    .chart-wrapper .chart-stage {
      overflow: hidden;
      padding: 5px 10px;
      position: relative;
    }
    .chart-wrapper .chart-notes {
      background: #fbfbfb;
      border-top: 1px solid #e2e2e2;
      color: #808080;
      font-size: 12px;
      padding: 8px 10px 5px;
    }
    .simple-box {
      background-color: transparent !important;
      border: 0 none !important;
    }
    .twitter-cards,
    .stream-log {
      height: 100%;
    }
    .twitter-cards .chart-stage,
    .stream-log .chart-stage {
      height: calc(100% - 40px);
      overflow: auto;
    }
    .stream-log .chart-stage * {
      background: transparent;
      display: block;
      font-family: monospace;
      white-space: pre;
    }
    .trending-hashtags,
    .trending-sentiments {
      height: 100%;
    }
    .trending-hashtags .chart-stage,
    .trending-sentiments .chart-stage {
      height: calc(100% - 50px);
      overflow: auto;
    }
    .twitter-cards-list {
      list-style: none;
      padding: 0;
    }
    .twitter-cards-list li.row {
      border: 1px solid #e2e2e2;
      margin-bottom: 10px;
    }
    .twitter-card-pic {
      min-height: 60px;
      padding-bottom: 10px;
    }
    .full-box {
      height: calc(100% - 10px);
    }
    .half-box {
      height: calc(50% + 5px);
    }
  </style>
  <div class="container-fluid" id="demo">
    <div class="row">
      <div class="col-sm-3">
        <div class="chart-wrapper simple-box">
          <div class="chart-title simple-box"> </div>
          <div class="chart-stage">
            <button id="startStreamBtn" type="button" class="btn btn-success">Start Streaming</button>
          </div>
          <div class="chart-notes simple-box"> </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="chart-wrapper">
          <div class="chart-title">Filter</div>
          <div class="chart-stage">
            <p>not yet implemented</p>
          </div>
          <div class="chart-notes simple-box"> </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 full-box">
        <div class="chart-wrapper twitter-cards">
          <div class="chart-title">Twitter Cards</div>
          <div class="chart-stage">
            <ol class="twitter-cards-list">
            </ol>
          </div>
          <div class="chart-notes simple-box"> </div>
        </div>
      </div>
      <div class="col-sm-6 full-box">
        <div class="row half-box">
          <div class="col-sm-12 full-box">
            <div class="chart-wrapper trending-hashtags">
              <div class="chart-title">Trending Hashtags</div>
              <div class="chart-stage"></div>
              <div class="chart-notes simple-box"> </div>
            </div>
          </div>
        </div>
        <div class="row half-box">
          <div class="col-sm-12 full-box">
            <div class="chart-wrapper trending-sentiments">
              <div class="chart-title">Trending Sentiments</div>
              <div class="chart-stage"></div>
              <div class="chart-notes simple-box"> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 full-box">
        <div class="chart-wrapper stream-log">
          <div class="chart-title">Logs</div>
          <div class="chart-stage"></div>
          <div class="chart-notes simple-box"> </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}

{%block onCancel%}
  $('#results{{prefix}}').html('<p class="text-center">Twitter Sentiment has been cancelled.</p>');
  $('#loading{{prefix}}').css('display','none');
{%endblock%}

{%block onOK%}

{%endblock%}

{%block onDialogShown%}
  window.Pixiedust = window.Pixiedust || {};
  var pix = window.Pixiedust.twitterdemo;

  var tdiag = $(this)
    .find('.modal-dialog')
    .css({
      width:'90%',
    });
  var okBtn = $('.btn-ok', tdiag);
  var startBtn = $('#startStreamBtn', tdiag);
  var logDiv = $('.stream-log > .chart-stage', tdiag);
  var resultsDiv = $('#results{{prefix}}');
  var loadingDiv = $('#loading{{prefix}}');
  var cardList = $('.twitter-cards-list');

  var logMsg = function(msg) {
    logDiv.append('<span>' + msg + '</span>');
  };

  var updateBtns = function(status) {
    switch (status) {
      case 'starting':
        okBtn.prop('disabled', true);
        startBtn.prop('disabled', true);
        startBtn.text('Starting...');
        startBtn.attr('class', 'btn btn-success');
        break;
      case 'started':
        okBtn.prop('disabled', true);
        startBtn.prop('disabled', false);
        startBtn.text('Stop Streaming');
        startBtn.attr('class', 'btn btn-danger');
        break;
      case 'stopping':
        okBtn.prop('disabled', true);
        startBtn.prop('disabled', true);
        startBtn.text('Stopping...');
        startBtn.attr('class', 'btn btn-danger');
        break;
      case 'stopped':
        okBtn.prop('disabled', false);
        startBtn.prop('disabled', false);
        startBtn.text('Start Streaming');
        startBtn.attr('class', 'btn btn-success');
        break;
    }
  };

  var processHashtags = function(data) {
    $('.trending-hashtags > .chart-stage > :not(svg)', tdiag).remove();
    pix.piechart('.trending-hashtags > .chart-stage', data);
  };

  var processSentiments = function(data) {
    $('.trending-sentiments > .chart-stage > :not(svg)', tdiag).remove();
    pix.groupedchart('.trending-sentiments > .chart-stage', data);
  };

  var showTweets = function(tweets) {
    var template = '<li class="row">'
      + '<div class="col-sm-2"><div class="chart-wrapper simple-box"><img class="twitter-card-pic" src="{pic}"></div></div>'
      + '<div class="col-sm-10"><div class="chart-wrapper simple-box"><div class="twitter-card-name">{name}</div><div class="twitter-card-tweet">{tweet}</div></div></div>'
      + '</li>';

    if (tweets) {
      for (var i in tweets) {
        var t = template.replace(/\{(.+?)\}/g, function($0, $1) {
          return tweets[i].hasOwnProperty($1) ? tweets[i][$1] : $0;
        });
        cardList.prepend(t);
      }
    }
  }

  pix.register(function(data) {
    if (data) {
      if (data.message) {
        logMsg(data.message);
      }
      if (data.status) {
        updateBtns(data.status);
      }
      if (data.data) {
        processHashtags(data.data);
        processSentiments(data.data);
      }
      if (data.tweets) {
        showTweets(data.tweets);
      }
    }
  });

  startBtn.click(function() {
    var idx = startBtn.text().indexOf('Start');
    if (idx == -1) {
      pix.stop();
    }
    else {
      pix.start();
    }
  });

  okBtn.prop('disabled', true);
  logMsg(new Date());
{%endblock%}

{%block cellOuputHTML%}
  <div id="loading{{prefix}}" style="display:none">
    <div style="width:100px;height:60px;left:47%;position:relative">
        <i class="fa fa-circle-o-notch fa-spin" style="font-size:48px"></i>
    </div>
    <div style="text-align:center">Generating the notebook cells for the demo. Please wait...</div>
  </div>
  <div id="results{{prefix}}"></div>
{%endblock%}