{%extends "basedialog.html"%}
{%block title %}Twitter Sentiment Analysis{%endblock%}

{%block body%}
  <style>
    #demo > .row:first-child {
      height: 10vh;
      max-height: 10vh;
      min-height: 10vh;
    }
    #demo > .row:nth-child(2) {
      height: 60vh;
      max-height: 60vh;
      min-height: 60vh;
    }
    .chart-wrapper {
      background: #fff;
      margin: 10px;
      padding: 10px;
    }
    .chart-wrapper .chart-title {
      border-bottom: 1px solid #152935;
      color: #152935;
      font-size: 1.25em;
      font-weight: 400;
      padding: 10px 0px 5px;
    }
    .chart-wrapper .chart-stage {
      overflow: hidden;
      position: relative;
      margin: 10px 0px 5px;
    }
    .chart-wrapper .chart-notes {
      background: #fbfbfb;
      border-top: 1px solid #e2e2e2;
      color: #808080;
      font-size: 12px;
      padding: 8px 10px 5px;
    }
    .simple-box {
      background-color: transparent !important;
      border: 0 none !important;
      margin: 0;
      padding: 0;
    }
    .twitter-cards,
    .stream-log {
      height: 100%;
    }
    .twitter-cards .chart-stage {
      height: calc(100% - 30px);
      margin-top: 0px;
      overflow: auto;
    }
    .stream-log .chart-stage {
      height: calc(100% - 40px);
      overflow: auto;
    }
    .stream-log .chart-stage * {
      background: transparent;
      display: block;
      font-family: monospace;
      white-space: pre;
    }
    .trending-sentiments {
      height: 100%;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .trending-hashtags,
    .trending-sentiments {
      height: 100%;
    }
    .trending-hashtags .chart-stage,
    .trending-sentiments .chart-stage {
      height: calc(100% - 50px);
      overflow: auto;
    }
    .twitter-cards-clear {
      cursor: pointer;
      float: right;
      font-size: 11px;
      font-weight: 400;
    }
    .twitter-cards-logs-spinner {
      float: right;
      display: none;
    }
    .twitter-cards-list {
      list-style: none;
      padding: 0 10px;
    }
    .twitter-cards-list li.row {
      background: #ffffff none repeat scroll 0 0;
      border-left: 3px solid #4178be;
      box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.25);
      color: #1d3649;
      padding: 10px 15px 15px;
      margin: 10px 0 20px;
    }
    .twitter-cards-list li.row.joy {
      border-color: #4178be;
    }
    .twitter-cards-list li.row.sadness {
      border-color: #fc5120;
    }
    .twitter-cards-list li.row.fear {
      border-color: #5da51d;
    }
    .twitter-card-pic {
      min-height: 50px;
    }
    .twitter-card-name {
      color: #323232;
      font: 500 18px Helvetica,Arial,sans-serif;
      padding-bottom: 3px;
    }
    .twitter-card-tweet {
      font: 300 12px Helvetica,Arial,sans-serif;
    }
    .full-box {
      height: calc(100% - 10px);
    }
    .half-box {
      height: calc(50% + 5px);
    }
    .pixiedust .modal-header {
      background-color: #152935;
      color: #ffffff;
    }
    .pixiedust .modal-body {
      padding: 10px;
    }
    .pixiedust .modal-dialog .btn.focus,
    .pixiedust .modal-dialog .btn:focus {
      outline: none;
    }
    .pixiedust .modal-dialog .btn-cancel {
      display: none;
    }
    .pixiedust .modal-dialog .btn-ok {
      background-color: #082632;
      border: 2px solid #082632;
      color: #fff;
      font-weight: 500;
      padding: 0.625em 1.375em;
    }
    .pixiedust .modal-dialog .btn-ok:hover {
      background-color: #fff;
      border-color: #082632;
      color: #082632;
    }
    .pixiedust .modal-dialog .btn-start {
      background-color: #fff;
      border: 2px solid #a6266e;
      color: #a6266e;
      font-weight: 500;
      padding: 0.625em 1.375em;
    }
    .pixiedust .modal-dialog .btn-start:hover {
      background-color: #a6266e;
      border-color: #a6266e;
      color: #fff;
    }
    .pixiedust .modal-dialog .btn-stop {
      background-color: #a6266e;
      border: 2px solid #a6266e;
      color: #fff;
      font-weight: 500;
      padding: 0.625em 1.375em;
    }
    .pixiedust .modal-dialog .btn-stop:hover {
      opacity: 0.65;
    }
    .pixiedust .modal-footer {
      border-top: 0px;
      padding: 20px 30px;
    }
    .pixiedust .modal-dialog svg text {
      fill: black;
      font-size: 11px;
      font-weight: normal;
    }
  </style>
  <div class="container-fluid" id="demo">
    <div class="row">
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-stage">
            <button id="startStreamBtn" type="button" class="btn btn-sm btn-start">Start Streaming</button>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="chart-wrapper">
          <div class="chart-title">Filter</div>
          <div class="chart-stage">
            <p>not yet implemented</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 full-box">
        <div class="chart-wrapper twitter-cards">
          <div class="chart-title">
            <span>Twitter Cards</span> <a class="twitter-cards-clear">Clear</a></div>
          <div class="chart-stage">
            <ol class="twitter-cards-list">
            </ol>
          </div>
        </div>
      </div>
      <div class="col-sm-6 full-box">
        <div class="row half-box">
          <div class="col-sm-12 full-box">
            <div class="chart-wrapper trending-hashtags">
              <div class="chart-title">Trending Hashtags</div>
              <div class="chart-stage"></div>
            </div>
          </div>
        </div>
        <div class="row half-box">
          <div class="col-sm-12 full-box">
            <div class="chart-wrapper trending-sentiments">
              <div class="chart-title">Trending Sentiments</div>
              <div class="chart-stage"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 full-box">
        <div class="chart-wrapper stream-log">
          <div class="chart-title"><span>Streaming Logs</span> <span class="fa fa-spinner fa-spin twitter-cards-logs-spinner"></span></div>
          <div class="chart-stage"></div>
          <div class="chart-notes simple-box"> </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}

{%block onCancel%}
  $('#demoScript{{prefix}}').remove();
  $('#results{{prefix}}').html('<p class="text-center">Twitter Sentiment has been cancelled.</p>');
  $('#loading{{prefix}}').css('display','none');
{%endblock%}

{%block onOK%}

{%endblock%}

{%block onDialogShown%}
  window.Pixiedust = window.Pixiedust || {};
  window.Pixiedust.twitterdemo = window.Pixiedust.twitterdemo || {};
  var pix = window.Pixiedust.twitterdemo;

  var tdiag = $(this)
    .find('.modal-dialog')
    .css({
      width:'90%',
    });
  var okBtn = $('.btn-ok', tdiag);
  var startBtn = $('#startStreamBtn', tdiag);
  var logDiv = $('.stream-log > .chart-stage', tdiag);
  var resultsDiv = $('#results{{prefix}}');
  var loadingDiv = $('#loading{{prefix}}');
  var cardList = $('.twitter-cards-list');
  var logSpinner = $('.twitter-cards-logs-spinner');
  var pauseCards = false;
  var hiddenCards = [];

  var logMsg = function(data) {
    var BEGINSTREAM = '@BEGINSTREAM@';
    var ENDSTREAM = '@ENDSTREAM@';
    function doLogMsg(msg){
      if (msg.indexOf && msg.indexOf(BEGINSTREAM) === 0) {
        updateBtns('started');
      }else if (msg.indexOf && msg.indexOf(ENDSTREAM) === 0) {
        updateBtns('stopped');
      }else{
        logDiv.append('<span>' + msg + '</span>');
      }
    }
    if (Array.isArray(data)){
      data.forEach(function(msg, index){
        doLogMsg(msg);
      });
    }else{
      doLogMsg(data)
    }
  };

  var updateBtns = function(status) {
    switch (status) {
      case 'starting':
        okBtn.prop('disabled', true);
        startBtn.prop('disabled', true);
        startBtn.text('Starting...');
        startBtn.attr('class', 'btn btn-sm btn-start');
        logSpinner.css({display: 'inline'});
        break;
      case 'started':
        okBtn.prop('disabled', true);
        startBtn.prop('disabled', false);
        startBtn.text('Stop Streaming');
        startBtn.attr('class', 'btn btn-sm btn-stop');
        logSpinner.css({display: 'inline'});
        break;
      case 'stopping':
        okBtn.prop('disabled', true);
        startBtn.prop('disabled', true);
        startBtn.text('Stopping...');
        startBtn.attr('class', 'btn btn-sm btn-stop');
        logSpinner.css({display: 'inline'});
        break;
      case 'stopped':
        okBtn.prop('disabled', false);
        startBtn.prop('disabled', false);
        startBtn.text('Start Streaming');
        startBtn.attr('class', 'btn btn-sm btn-start');
        logSpinner.css({display: 'none'});
        break;
    }
  };

  var processHashtags = function(data) {
    $('.trending-hashtags > .chart-stage > :not(svg)', tdiag).remove();
    pix.piechart('.trending-hashtags > .chart-stage', data);
  };

  var processSentiments = function(data) {
    $('.trending-sentiments > .chart-stage > :not(svg)', tdiag).remove();
    pix.groupedchart('.trending-sentiments > .chart-stage', data);
  };

  var initCard = function(card) {
    card.css({display:'list-item'})
      .animate({height: '90px'});
  };

  var showTweets = function(tweets) {
    var template = '<li class="row {sentiment}" style="height:0px; display:none;">'
      + '<div class="col-sm-2"><div class="chart-wrapper simple-box"><img class="twitter-card-pic" src="{pic}"></div></div>'
      + '<div class="col-sm-10"><div class="chart-wrapper simple-box">'
      + '<div class="twitter-card-name"><a href="//twitter.com/{name}" target="_blank">{name}</a></div>'
      + '<p class="twitter-card-tweet">{tweet}</p>'
      + '</div></div></li>';

    if (tweets) {
      for (var i in tweets) {
//temp-start
var p = Math.floor((Math.random() * 6) + 1);
if (p % 5 == 1) tweets[i].pic = "http://github.com/mikebroberg.png?size=50";
if (p % 5 == 2) tweets[i].pic = "http://github.com/jessmantaro.png?size=50";
if (p % 5 == 3) tweets[i].pic = "http://github.com/bradnoble.png?size=50";
if (p % 5 == 4) tweets[i].pic = "http://github.com/vabarbosa.png?size=50";
p++;
var s = Math.floor((Math.random() * 3) + 1);
if (p % 3 == 0) tweets[i].sentiment = 'sadness';
if (p % 3 == 1) tweets[i].sentiment = 'joy';
if (p % 3 == 2) tweets[i].sentiment = 'fear';
s++;
//temp-end
        var t = $(template.replace(/\{(.+?)\}/g, function($0, $1) {
          return tweets[i].hasOwnProperty($1) ? tweets[i][$1] : $0;
        }));
        cardList.prepend(t);
        if (!pauseCards) {
          initCard(t);
        }
        else {
          hiddenCards.push(t);
        }
      }
    }
  }
  pix.register(function(data) {
    if (data) {
      if (data.log) {
        logMsg(data.log);
      }
      if (data.status) {
        updateBtns(data.status);
      }
      if (data.data) {
        processHashtags(data.data);
        processSentiments(data.data);
      }
      if (data.tweets) {
        showTweets(data.tweets);
      }
    }
  });

  startBtn.click(function() {
    var idx = startBtn.text().indexOf('Start');
    if (idx == -1) {
      pix.stop();
    }
    else {
      pix.start();
    }
  });

  cardList.hover(
    function() {
      pauseCards = true;
    },
    function() {
      pauseCards = false;
      for (var c in hiddenCards) {
        if (!pauseCards) {
          initCard(hiddenCards[c]);
        }
      }
    }
  );

  $('.twitter-cards-clear').click(function() {
    cardList.html('');
  });

  okBtn.prop('disabled', true).text('Back to Notebook');
  logMsg(new Date());
{%endblock%}

{%block onDialogHide%}
  window.Pixiedust.twitterdemo.stopCollectData();
{%endblock%}

{%block cellOuputHTML%}
  <div id="loading{{prefix}}" style="display:none">
    <div style="width:100px;height:60px;left:47%;position:relative">
        <i class="fa fa-circle-o-notch fa-spin" style="font-size:48px"></i>
    </div>
    <div style="text-align:center">Generating the notebook cells for the demo. Please wait...</div>
  </div>
  <div id="results{{prefix}}"></div>
{%endblock%}