{%extends "basedialog.html"%}
{%import "commonExecuteCallback.js" as commons%}
{%block title %}Twitter Sentiment Analysis Tutorial{%endblock%}

{%block body%}
  <style>
    .chart-wrapper {
      background: #fff;
      border: 1px solid #e2e2e2;
      border-radius: 3px;
      margin: 5px;
    }
    .chart-wrapper .chart-title {
      border-bottom: 1px solid #d7d7d7;
      color: #666;
      font-size: 14px;
      font-weight: 200;
      padding: 7px 10px 4px;
    }
    .chart-wrapper .chart-stage {
      overflow: hidden;
      padding: 5px 10px;
      position: relative;
    }
    .chart-wrapper .chart-notes {
      background: #fbfbfb;
      border-top: 1px solid #e2e2e2;
      color: #808080;
      font-size: 12px;
      padding: 8px 10px 5px;
    }
    .simple-box {
      background-color: transparent !important;
      border: 0 none !important;
    }
    .twitter-cards .chart-stage,
    .stream-log .chart-stage {
      max-height: 813px;
      min-height: 613px;
      overflow: auto;
    }
    .trending-hashtags .chart-stage,
    .trending-sentiments .chart-stage {
      max-height: 380px;
      min-height: 280px;
      overflow: auto;
    }
  </style>
  <div class="container-fluid" id="demo">
    <div class="row">
      <div class="col-sm-3">
        <div class="chart-wrapper simple-box">
          <div class="chart-title simple-box"> </div>
          <div class="chart-stage">
            <button id="startStreamBtn" type="button" class="btn btn-success">Start Streaming</button>
            <button id="stopStreamBtn" type="button" class="btn btn-danger" disabled>Stop Streaming</button>
          </div>
          <div class="chart-notes simple-box"> </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="chart-wrapper">
          <div class="chart-title">Filter</div>
          <div class="chart-stage">
            <p>not yet implemented</p>
          </div>
          <div class="chart-notes simple-box"> </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="chart-wrapper twitter-cards">
          <div class="chart-title">Twitter Cards</div>
          <div class="chart-stage">
            <p>not yet implemented</p>
          </div>
          <div class="chart-notes simple-box"> </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <div class="chart-wrapper trending-hashtags">
              <div class="chart-title">Trending Hashtags</div>
              <div class="chart-stage">
                <p>not yet implemented</p>
              </div>
              <div class="chart-notes simple-box"> </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="chart-wrapper trending-sentiments">
              <div class="chart-title">Trending Sentiments</div>
              <div class="chart-stage">
                <p>not yet implemented</p>
              </div>
              <div class="chart-notes simple-box"> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="chart-wrapper stream-log">
          <div class="chart-title">Logs</div>
          <div class="chart-stage">
            <p>not yet implemented</p>
          </div>
          <div class="chart-notes simple-box"> </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}

{%block onOK%}

{%endblock%}

{%block onDialogShown%}
$(this).find('.modal-dialog').css({
    width:'90%',
});
{%endblock%}

{%block cellOuputHTML%}
  <div id="loading{{prefix}}" style="display:none">
    <div style="width:100px;height:60px;left:47%;position:relative">
        <i class="fa fa-circle-o-notch fa-spin" style="font-size:48px"></i>
    </div>
    <div style="text-align:center">Generating the notebook cells for the demo. Please wait...</div>
  </div>
  <div id="results{{prefix}}"></div>
{%endblock%}