{%if stepContext=="html"%}
<div class="well">
    <div class="row">
        {%for topic in codegenTopics %}
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail pixiedust-codegen-topic" style="margin-left:5px;margin-right:5px" id="topic{{topic['id']}}">
                <img src="{{topic['iconUri']}}">
                <div class="caption text-center"> {{topic['title']}} </div>
            </a>
        </div>
        {%endfor%}
    </div>
</div>
{%else%}
{%for topic in codegenTopics %}
$("#topic{{topic['id']|replace(".", "\\\\.")}}").click(function(){
    global.topic="{{topic['title']}}";
    global.subtopics={{topic['subtopics']}};
    gotoCodeGenTab('next');
})
{%endfor%}
{%endif%}
